.form {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background: #60a5fa;
  padding: 15px 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;


  .title {
    text-align: center;
    color: #030712;
  }

  input {
    width: auto;
    height: 30px;
    border-radius: 3px;
    border: transparent;
  }

  textarea {
    border-radius: 3px;
  }

  .uploadImage {
    width: fit-content;
    cursor: pointer;
  }

  .submitWrapper{
    width: auto;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    .submit {
      cursor: pointer;
      width: 115px;
      border-radius: 5px;
      border: 1px solid #000;
    }

  }

}