@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: inherit;
  }
}

@layer components {
  .dropzone-container {
    @apply flex h-[100px] w-[200px] flex-col items-center justify-between rounded-lg border text-center border-zinc-500 bg-zinc-200 p-[40px] py-8 align-middle text-zinc-500 shadow-inner;
  }

  .submit-button {
    @apply px-3 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-800 disabled:opacity-70 disabled:hover:bg-blue-600 disabled:cursor-not-allowed duration-150
  }
}
