  .property {
    width: 200px;
    height: 220px;
    background: #a78bfa;
    border-radius: 5px;
    text-align: center;

    button {
      background: #f1f5f9;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }