  .property {
    width: 200px;
    height: 220px;
    background: #a78bfa;
    border-radius: 5px;
    text-align: center;

    .delete {
      // color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }