.properties {
  min-height: 100vh;
}

.filter {
  background: url("../../public/pr-image2.jpg") no-repeat;
  background-size: cover;
  height: 45vh;
  position: relative;
}

.image {
  width: 200px;
  height: 200px;
}

.addPropertyContainer {
  padding-top: 50px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -350px;
  z-index: 3;
}

.buttonsContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;

  .addButton {
    width: 150px;
    height: 40px;
    background-color: #94a3b8;
    border-radius: 15px;
  }
}


.propertyWrapper {
  padding: 50px 100px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .propertyWrapper {
    padding: 50px 100px;
  }
}