.filter {
  background: url("../../public/pr-image2.jpg") no-repeat;
  background-size: cover;
  height: 45vh;
  position: relative;
}

.image {
  width: 200px;
  height: 200px;
}

.addPropertyContainer {
  padding-top: 50px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  z-index: 3;
}

.propertyWrapper {
  padding: 50px 100px;
  position: relative;
}